.img-responsive
	margin: 0
.topo
	+make-md-column(12)
	height: 100vh
	padding: 0
	margin: 0
	border-radius: 0
	background-size: cover
	nav
		border: none
		border-radius: none
		font: 35px $font-main
		margin: 0 auto
		//background-color: $primary-color
		background-color: transparentize($primary-color, 0.6)
		//opacity: 0.6
		.nav>li>a
			color: $secondary-color
		.nav>li>a:hover
			color: $secondary-color	
		@media screen and(max-width: $tablet)
			font-size: 25px	
			//height: 20px		
.item-menu
	border-style: solid
	border-width: 0 0 5px 0
	margin-right: 30px
	text-align: center
	@media screen and(max-width: $tablet)
		margin-right: 10px	

#item-filmes
	border-color: $filmes-color	
#item-series
	border-color: $series-color	
#item-hq
	border-color: $hq-color
#item-livros
	border-color: $livros-color

#item-filmes:hover
	transition: 0.4s linear
	background-color: $filmes-color	
#item-series:hover
	transition: 0.4s linear
	background-color: $series-color	
#item-hq:hover
	transition: 0.4s linear
	background-color: $hq-color
#item-livros:hover
	transition: 0.4s linear
	background-color: $livros-color

.fa-search
	color: $secondary-color

.titulo-header
	width: 100%
	bottom: 9vh
	position: absolute
	background-color: transparentize($primary-color, 0.6)
	font-family: $font-main
	padding: 0
	line-height: 50px
	@media screen and (max-width: $tablet)
		line-height: 25px
	@media screen and (max-width: $celular)
		line-height: 25px
		margin-right: 0
		margin-left: 0
	.texto-titulo-header
		margin: 10px
	h1
		margin-top: 0
		font-size: 60px
		color: $filmes-color
		margin-bottom: 5px
		font-weight: normal
		@media screen and(max-width: $tablet)
			font-size: 40px
		@media screen and (max-width: $celular)
			font-size: 30px	
	h2
		margin: 0 
		font-size: 50px
		color: $secondary-color
		font-weight: normal
		@media screen and (max-width: $tablet)
			font-size: 30px
		@media screen and (max-width: $celular)
			font-size: 20px